.footer
    margin-top: 100px
    padding-bottom: 40px
    &__wrapper
        text-align: center
    &__link
        color: black
        text-decoration: none
        &:hover
            color: #0278CC
    &__logo
        text-align: center
